{% extends "layout.html.j2" %}

{% block title %}Login{% endblock %}

{% block head %}
  {{ super() }}
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/login.css') }}">
{% endblock %}

{% block content %}

  <form method="post">
    <div class="error">
    </div>
    <div class="form-container">
      <h2>Login</h2>

       <label for="username"><b>Username</b></label>
       <input type="text" placeholder="Enter Username" name="username" required>

       <label for="pwd"><b>Password</b></label>
       <input type="password" placeholder="Enter Password" name="pwd" required>

       <button type="submit" class="btn btn--full-width">Login</button>
       <label>
         <input type="checkbox" name="remember"> Remember me
       </label>
       <div class="pwd">Forgot <a href="/reset-password">password</a>?</div>
    </div>

    <div class="form-container form-container-alt">
      <button type="button" class="btn--outline cancelbtn">Cancel</button>
      <div class="pwd">Don't have an account? <a href="/register">Register here</a>.</div>
    </div>
  </form>

{% endblock %}
