{% extends "layout.html.j2" %}

{% block title %}Register{% endblock %}

{% block head %}
  {{ super() }}
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/login.css') }}">
{% endblock %}

{% block content %}

  <form>
   <div class="form-container">
     <h2>Register</h2>
     <p>Please fill in this form to create an account.</p>

     <label for="username"><b>First Name</b></label>
     <input type="text" placeholder="Choose a username" name="lname" minlength="3" maxlength="15" required>


     <label for="email"><b>Email</b></label>
     <input type="text" placeholder="Enter Email" name="email" maxlength="254" required>
            <!-- pattern="/^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/" required> -->

     <label for="password"><b>Password</b></label>
     <input type="password" placeholder="Enter Password" minlength="6" maxlength="15" name="password" required>

     <label for="password"><b>Repeat Password</b></label>
     <input type="password" placeholder="Repeat Password" minlength="6" maxlength="15" name="password-repeat" required>

     <!-- Do we care? -->
     <p class="terms">By creating an account you agree to our <a href="#" class="terms-link">Terms & Privacy</a>.</p>

     <div class="clearfix">
       <button type="submit" class="btn btn--full-width">Sign Up</button>
     </div>
   </div>
   <div class="form-container form-container-alt">
       <div class="pwd">Already have an account? <a href="/login">Login here.</a></div>
       <button type="button" class="btn--outline cancelbtn">Cancel</button>
   </div>
  </form>

{% endblock %}
