<header>
  <ul class="menu-list">
    <li><a class="logo" href="/">Stock Simulator</a></li>
    <div class="menu-item logout-link">
      <li><a href="/account">My Account</a></li>
      <li><a href="/logout">Log out</a></li>
    </div>
    <div class="menu-item login-link">
      <li><a href="/register">Register</a></li>
      <li><a href="/login">Login</a></li>
    </div>
  </ul>
</header>

<nav class="global-nav">
  <ul>
    <li class="global-nav--list"><a  href="/">Home</a></li>
    <li class="global-nav--list"><a  href="/watchlist">Manage WatchList</a></li>
    <li class="global-nav--list"><a  href="/stock/purchase">Add Stock</a></li>
    <li class="global-nav--list"><a  href="/stock/sell">Sell Stock</a></li>
  <ul>
</nav>
