{% macro container(content, title='', subtitle='', className='') -%}
    <div class="{{ 'container-item ' + className if className else 'container-item' }}">
      {% if title %}
        <h3 class="title">{{ title }}</h3>
      {% endif %}

      {% if subtitle %}
        <p class="subtitle">{{ subtitle }}</p>
      {% endif %}
      <div class="content">
          {{ content }}
      </div>
    </div>
{%- endmacro %}
