.outer-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.container-item {
  padding: 40px 25px;
  margin: 10px;
}

.container-item--outline {
  border: 2px solid #BCE0FD;
  border-radius: 4px;
}

.container-item--half,
.container-item--third,
.container-item--full {
  width: 100%;
}

 @media only screen and (min-width: 768px) {
   .container-item--half {
     width: 50%;
   }

   .container-item--third {
     width: 33%;
   }

   .outer-container {
     flex-wrap: nowrap;
   }
}

.title {
  font-size: 2em;
  margin-bottom: 20px;
  border-bottom: 0.5px solid #ccc;
  padding-bottom: 10px;
}

.field {
  margin: 10px 0;
}

.field span.label {
  font-weight: bold;
  color: black;
}

.field {
  color: #484848;
}
