.container {
  padding: 25px;
/* }

.container--outline { */
  border: 2px solid #BCE0FD;
  border-radius: 4px;
}

.title {
  font-size: 2em;
  margin-bottom: 20px;
  border-bottom: 0.5px solid #ccc;
}

.field {
  margin: 10px 0;
}
