/* Stock information (center of page) */

.stock_info table {
  background-color: transparent;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

.stock_info table td {
  width: 150px;
  padding: 5px;
}
