/***********************************/
/***********************************/
/** input styles */
/* Full-width inputs */
/***********************************/
/***********************************/
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  box-sizing: border-box;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid #2699fb;
}

input[type="text"]:focus,
input[type="password"]:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  border: 1px solid rgba(81, 203, 238, 1);
}

input[type="checkbox"] {
}
