/* Bordered form */
form {
 border: 3px solid #f1f8fe;
}

/* Full-width inputs */
input[type=text], input[type=password] {
 width: 100%;
 padding: 12px 20px;
 margin: 8px 0;
 display: inline-block;
 border: 1px solid #ccc;
 box-sizing: border-box;
}

/* Set a style for all buttons */
button {
 background-color: #2799fa;
 color: white;
 padding: 14px 20px;
 margin: 8px 0;
 border: none;
 cursor: pointer;
 width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
 opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
 width: auto;
 padding: 10px 18px;
 background-color: #5f6368;
}

/* Add padding to containers */
.container {
 padding: 16px;
}

.container input {
  margin-bottom: 25px;
}


.container-alt {
  background-color: #f1f8fe;
}

.terms {
  text-align: center;
  margin: 20px 0;
}

.terms-link {
  color: dodgerblue;
}

/* The "Forgot password" text */
span.pwd {
 float: right;
 padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
 span.pwd {
   display: block;
   float: none;
 }
 .cancelbtn {
   width: 100%;
 }
}
