@import "reset.css";
/***********************************/
/***********************************/
/**
  *****************
  * primary:    #2699FB
  * secondary:  #7FC4FD
  * tertiary:   #1F3B73
  *****************
  * night blue: #1f3b73
  * dark blue:  #2699FB
  * dark blue:  #007FEB
  * blue:       #7FC4FD
  * mid blue:   #BCE0FD
  * light blue: #F1F9FF
  * white:      white or #FFF
  * light gray: #ccc
  * grey:       #edf0f1
  * dark gray:  #484848
*/
* {
  box-sizing: border-box;
}

/***********************************/
/***********************************/
/**
   * MOBILE         @media only screen and (max-width: 480px)
   * TABLET         @media only screen and (min-width: 768px) and (max-width: 1024px)
   * DESKTOP        @media (min-width: 1025px)
*/
/***********************************/
/***********************************/
#content {
  margin: 30px 75px;
}

body {
  background-color: #f1f9ff;
}
/***********************************/
/***********************************/
/** font styles */
/***********************************/
/***********************************/
h1 {
  font-size: 2em; /* 32pt */
}

h2 {
  font-size: 1.5em; /* 24pt */
  color: #7fc4fd;
  font-weight: 400;
}

h3 {
  font-size: 1.2em;
  color: #7fc4fd;
  font-weight: 300;
}

h4 {
  font-size: 1em;
  color: #484848;
  font-weight: 200;
}

h5 {
  font-size: 0.8em;
  color: #000;
  font-weight: 100;
  opacity: 70%;
}

.headline {
  font-size: 3em; /* 48pt */
  font-weight: bold;
}

.subhead {
  font-size: 1.5em; /* 24pt */
}

.quote {
  font-size: 1.375em; /* 20pt */
  font-style: italic;
}

.body-emphasis {
  /** 16pt */
  font-weight: bold;
}

label,
.small-body {
  font-size: 0.875em; /* 14pt */
}

.eyebrow {
  /** 12pt **/
  text-transform: uppercase;
  font-size: 0.75em;
}

/***********************************/
/***********************************/
/* content wrapper */
/***********************************/
/***********************************/

.content-wrapper {
  background: #fff;
  margin: 0;
  padding: 10px;
}

/***********************************/
/***********************************/
/* text align */
/***********************************/
/***********************************/

.left-align {
  text-align: left;
}

.right-align {
  text-align: right;
}

.center-align {
  text-align: center;
}

/***********************************/
/***********************************/
/* button styles */
/***********************************/
/***********************************/
button {
  font-size: 0.875em; /* 14pt */
  border-radius: 4px;
  padding: 8px 40px;
  margin: 20px 0;
}

.btn--full-width {
  width: 100%;
}

.btn {
  border: none;
  background-color: #2699fb;
  color: #fff;
}

.btn:hover,
.btn:active {
  background-color: #007feb;
}

.btn--outline {
  border: 1px solid #2699fb;
  color: #2699fb;
  background-color: #fff;
}

.btn-clear {
  background-color: transparent;
  color: #2699fb;
  border: none;
}

/***********************************/
/***********************************/
/* div styles */
/***********************************/
/***********************************/

.center-div {
  margin: 0 auto;
  width: 60%;
}

/***********************************/
/***********************************/
/* column styles */
/***********************************/
/***********************************/

.col-sm {
  width: 80px;
  padding: 5px;
}

.col-md {
  width: 150px;
  padding: 5px;
}

.col-split-3 {
  width: calc(100% / 3);
  padding: 0 15px;
  margin-top: 20px;
  display: inline-block;
  vertical-align: top;
}

.col-split-2 {
  width: calc(99% / 2);
  margin-top: 20px;
  display: inline-block;
  vertical-align: top;
}

/***********************************/
/***********************************/
/* div styles */
/***********************************/
/***********************************/

.center-div {
  margin: 0 auto;
  width: 60%;
}

/***********************************/
/***********************************/
/** TABLET styles */
/***********************************/
/***********************************/
@media only screen and (max-width: 1024px) {
  #content {
    margin: 30px 40px;
  }
}

/***********************************/
/***********************************/
/** MOBILE styles */
/***********************************/
/***********************************/
@media only screen and (max-width: 480px) {
  #content {
    margin: 30px 20px;
  }
}
