{% extends "layout.html.j2" %}
{% import 'macros/container-macro.html.j2' as macro %}

{% block title %}Transaction{% endblock %}

{% block head %}
  {{ super() }}
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/form.css') }}">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/container-macro.css') }}">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/sell.css') }}">
{% endblock %}

{% macro transactionForm() -%}
  <form action="/stock/sell" method="POST">
    <table> 
      <tr> 
        <th>Stock Symbol:</th>
        <td><input type="text" name="symbol"></td>
        <td><span>Check Symbol</span></td>
      </tr>
      <tr> 
        <th>Transaction:</th>
        <td> 
          <select>
            <option value="buy">Buy</option>
            <option value="sell">Sell</option>
          </select>
        </td>
      </tr>
      <tr> 
        <th>Quantity:</th>
        <td><input type="number" name="quantity"></td>
      </tr>
    </table>
    <input class="btn btn--full-width" type="submit">
  </form>
{%- endmacro %}

{% macro stockInfo() -%} 
  <div class="owned container-item--outline"> 
    <h3>Advanced Micro Devices, Inc.</h3> 
    <table>
      <tr>
        <th>Quantity Owned</th>
        <td>120</td>
      </tr>
      <tr>
        <th>Sell Price</th>
        <td>$5.00</td>
      </tr>
      <tr>
        <th>Bought Price</th>
        <td>$3.00</td>
      </tr>
    <table>
  </div>
{%- endmacro %}

{% block content %}
  <div class="outer-container">
  {{ macro.container(
      transactionForm(),
      'Transaction', '', 'container-item--half')
  }}
  <!-- refactor to use actual info -->
  {{ macro.container(
      stockInfo(),
      'Ownership', 'Stocks you own will be displayed here.', 'container-item--half')
  }}
</div>

{% endblock %}