{% extends "layout.html.j2" %}
{% import 'macros/container-macro.html.j2' as macro %}

{% block title %}Transaction{% endblock %}

{% block head %}
  {{ super() }}
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/form.css') }}">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/container-macro.css') }}">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/sell.css') }}">
{% endblock %}

{% macro transactionForm() -%}
  <form method="post" action="{{ url_for('manage_stock')}}">
    <div class="form-container">
      <h2>Login</h2>

      {% if error %}
        <div class="error">{{ error }}</div>
      {% endif %}

       <label for="stock_symbol"><b>Username</b></label>
       <input type="text" placeholder="Stock Symbol ID" name="stock_symbol" maxlength="5" required>

       <label for="quantity"><b>Quantity</b></label>
       <input type="number" name="quantity" required>
       <button type="submit" class="btn btn--full-width">Submit</button>
    </div>
  </form>
{%- endmacro %}

{% macro stockInfo() -%}
  <div class="owned container-item--outline">
    <h3>Advanced Micro Devices, Inc.</h3>
    <table>
      <tr>
        <th>Quantity Owned</th>
        <td>120</td>
      </tr>
      <tr>
        <th>Sell Price</th>
        <td>$5.00</td>
      </tr>
      <tr>
        <th>Bought Price</th>
        <td>$3.00</td>
      </tr>
    <table>
  </div>
{%- endmacro %}

{% block content %}
  <div class="outer-container">
  {{ macro.container(
      transactionForm(),
      'Transaction', '', 'container-item--half')
  }}
  <!-- refactor to use actual info -->
  {{ macro.container(
      stockInfo(),
      'Ownership', 'Stocks you own will be displayed here.', 'container-item--half')
  }}
</div>

{% endblock %}
