{% extends "layout.html.j2" %}

{% block title %}Home{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/home.css') }}">
  {{ super() }}
{% endblock %}

{% block content %}
  {% include "home/home-content.html.j2" %}
{% endblock %}
