{% extends "layout.html.j2" %}

{% block title %}Home{% endblock %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}
  <h1> My First Try Using Flask </h1>
  <p> Flask is Fun </p>
{% endblock %}
